$ff-primary: "Roboto", sans-serif;
$ff-secondary: "Open Sans", sans-serif;
$clr-primary1: #063251;
$clr-primary2: #49a6e9;
$clr-grey1: #f1f5f8;
$clr-grey2: #102a42;
$clr-grey3: #617d98;
$clr-black: #222;
$clr-white: #fff;
$clr-green-light: #6be675;
$clr-green-dark: #25bb32;
$clr-red-dark: #bb2525;
$clr-red-light: #e66b6b;
$spacing: 0.25rem;
$transition: all 0.3s linear;
$radius: 0.5rem;
$light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
$dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);